extends layout

block content
    h1= title
    p
      This page currently refreshes every second to update values - replace with websocket.
    ul
        each value, datapoint in hkldArray
          li= value
