doctype html
html
  head
    title= title
    link(rel='stylesheet', href='/stylesheets/style.css')
    // script(src='/socket.io/lib/socket.js')
    script(src='javascripts/socketIn.js')

  body
    block content
